# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#logs
/logs

# env
.env
backend/.env

# logs
logs/
*.log
backend/logs/

# node modules
node_modules/
frontend/node_modules/
backend/node_modules

# vite
.vite/
dist/

.env
node_modules/
logs/
*.log
.vite/
